/* small-img.css */
.small-img {
  max-width: 100%; /* Make sure the image width is never larger than its container */
  width: 300px; /* Or you can set a fixed width like 300px */
  height: auto; /* Maintain the aspect ratio */
}

.image-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.section-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
}
